{
  "env": {
    "es6": true
  },
  "globals": {
    "require": true
  },
  "rules" : {
    "curly": 0,
    "eqeqeq": 0,
    "global-strict": 0,
    // The add-on SDK console logging is controlled by preferences.
    "no-console": 0,
  },
}
